/* normalize.css 2011-06-23T00:50 UTC //github.com/jonathantneal/normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}

body {
  margin: 0;
  color: #444444;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}
h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}
/*p {
  line-height: 1.4;
  font-size: 15px;
}
img.logo {
  margin: 0 auto;
  display: block;
}
img.profile {
  border: 1px solid grey;
  width: 200px;
  height: 200px;
  padding: 5px;
  float: left;
  margin-right: 20px;
}
img.favourite {
  border: 1px solid #A8258D;
  border-radius: 50%;
  width: 200px;
  padding: 5px;
  margin: 10px;
}*/
div.banner {
  padding-top: 110px;
  padding-bottom: 100px;
  background: url('images/background.jpg');
  background-attachment: fixed;
  color: #ffffff;
  text-align: center;
}
div.banner p {
  font-size: 22px;
}
div.banner h1 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
div.about {
  background: url('images/tile1.png');
  overflow: hidden;
}
div.about h2 {
  text-align: center;
}
div.favourites {
  text-align: center;
}
div.contact {
  text-align: center;
  background: url('images/tile2.png');
}
div.contact img {
  margin: 20px;
}
div.box {
  padding: 50px 100px;
}
div.box h2, div.box h3 {
  color: #A8258D;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #434A5C;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.menu li {
  display: inline-block;
  padding: 20px 35px;
}
.menu a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}